.location-view {
  height: calc(100vh - 85px);
  display: grid;
  grid-template-areas: 'select-area map-area';
  grid-template-columns: 1fr 3fr;
  margin-bottom: 58px;
  margin-right: 44px;
}

.select-area {
  grid-area: select-area;
  position: relative;
  height: inherit;
  padding: 0px 12px;
}

.map-area {
  grid-area: map-area;
  height: inherit;
}

.leaflet-container {
  height: inherit;
  width: inherit;
}