.fullscreen-view {
  height: calc(100vh - 58px);
  display: grid;
  grid-template-areas:
  'sidebar imageHalf';
  grid-template-columns: 1fr 3fr;
}
.fullscreen-view.g {
  background-color: #7BE0AD;
}
.sidebar {
  grid-area: sidebar;
  position: relative;
  height: inherit;
  padding: 0px 12px;
}
.action-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.action-container p {
  text-transform: uppercase;
  font-size: 10px;
}
.image-container {
  grid-area: imageHalf;
  height: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}