.Header {
    background-color: rgb(10, 32, 230);
    height: 150px;
    color: white;
    text-align: center;
    padding: 20px;
  }

  .Header-logo {
    animation: App-logo-spin infinite 20s linear;
    color: white;
    width: 180px;
    height: 180px;
  }
