.header-container {
  width: 100vw;
  background-color: var(--color-white);
  position: fixed;
  z-index: 1;
  text-transform: uppercase;
}
.header-container a {
  padding: 0px 12px;
  font-weight: 200;
  font-size: 14px;
  vertical-align: -webkit-baseline-middle;
}
.header-container a.active {
  color: var(--color-green);
}
.header-container a:first-child {
  padding-left: 24px;
}