/* vars */
:root {
  --color-white: #FFFDF9; 
  --color-green: #7BE0AD; 
  --color-blue: #33A1FD; 
  --color-orange: #F7A847; 
  --color-red: #fd5c63; 
  --color-gray: #3A424C; 
  --color-black: #292F36; 
}
/* standard elements */
body {
  margin: 0px;
}
a, p, div, span, h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-black);
}
a {
  text-decoration: none;
}
a:visited {
  color: var(--color-black);
}
a:hover {
  color: var(--color-green);
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Cormorant', serif;
  margin: 0.55em 0px;
}
button {
  background-color: #FFFDF9;
  border: var(--color-black) solid 1px;
  text-transform: uppercase;
  padding: 12px;
  color: var(--color-gray);
}
button:hover {
  color: var(--color-green);
  border: var(--color-green) solid 1px;
  cursor: pointer;
	outline: none;
}

.page-container {
  padding-top: 58px;
}