/* vars */
:root {
  --color-white: #ebfafa;
  --color-sand: #FFFDF9;
  --color-green: #7BE0AD;
  --color-blue: #33A1FD;
  --color-orange: #F7A847;
  --color-red: #fd5c63;
  --color-gray: #3A424C;
  --color-black: #292F36;
}

html {
  overflow: hidden;
  height: 100%;
}

/* standard elements */
body {
  margin: 0px;
  height: 100%;
  overflow: auto;
}

a, p, div, span {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-black);
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--color-black);
}

a:hover {
  color: var(--color-green);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cormorant', serif;
  margin: 0.55em 0px;
}

button {
  background-color: var(--color-best);
  /*border: var(--color-black) solid 1px;*/
  text-transform: uppercase;
  padding: 12px;
  color: var(--color-gray);
  margin-top: 5px;
  margin-bottom: 5px;
  width: 120px;
}

button:hover {
  color: var(--color-green);
  border: var(--color-green) solid 1px;
  cursor: pointer;
  outline: none;
}

.page-container {
  /*padding-top: 58px;*/
  background-color: var(--color-white);
}

.leaflet-container {
  height: inherit;
  width: inherit;
}

/* custom */
.anchor{
  display: block;
  height: 115px; /*same height as header*/
  margin-top: -115px; /*same height as header*/
  visibility: hidden;
}

.topic {
  /* area under the header on topic pages (not on the home page) */
  display: grid;
  grid-template-columns: 1fr 3fr;
  /*grid-template-columns: 14% 78%;*/
}

.topic h2 {
  text-align: center;
}

.topic .toc {
  position: sticky;
  top: 40px;
  height: calc(100vh - 60px);
  box-sizing: border-box;
  display: table;
  width:100%;
  margin: 6%;
}

.topic .toc .button-wrapper {
  /*display: grid;*/
  /*grid-template-columns: 1fr;*/
  /*grid-template-rows: minmax(200px, auto);*/
  /*grid-auto-rows: minmax(100px, auto);*/
  /*grid-gap: 20px;*/
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.topic .content {
  /*margin: 5px;*/
  overflow: auto;
  margin: 6%;
}

.topic .content .intro {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
  border: 1px solid #eee;
  box-shadow: 0 2px #ccc;
  text-align: justify;
}

.topic .content .intro img {
  display: block;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.topic .content .intro h2 {
  text-align: center;
}

.topic .content .main {
  margin: 0;
}

.topic .content .main .map-view {
  top: 60px;
  width: 97%;
  padding-top: 68px;
  height: calc(100vh - 85px);
}

.topic .content .main .map-view .map-area {
  height: inherit;
  top: inherit;
}

.topic .content .main .main-sm {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: inherit;
  padding-top: 10px;
  padding-right: 30px;
  padding-left: 30px;
  border: 1px solid #eee;
  box-shadow: 0 2px #ccc;
  text-align: justify;
}

.topic .content .main .grid-main-sm {
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: 10px;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border: 1px solid #eee;
  box-shadow: 0 2px #ccc;
}

.topic .content .main .grid-main-sm h2 {
  padding-top: 22px;
  text-align: left;
}

.topic .content .main .grid-main-sm .grid-item {
  font-size: 12px;
  text-align: center;
  text-transform: capitalize;
  height: 120px;
  width: 120px;
  padding-bottom: 3px;
}

.topic .content .main .grid-main-sm .grid-item img {
  display: block;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.topic .content .main .main-lg {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 10px;
  border: 1px solid #eee;
  box-shadow: 0 2px #ccc;
  text-align: justify;
}

.topic .content .main .main-lg h2 {
  text-align: left;
  margin-left: 10px;
}

.topic .content  .main .main-lg .grid-main-lg {
  display: grid;
  grid-auto-rows: 320px;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  justify-items: center;
}

.topic .content .main .main-lg .grid-main-lg h2 {
  padding-bottom: 22px;
  text-align: left;
}

.topic .content .main .main-lg .grid-main-lg .grid-item {
  font-size: 12px;
  text-align: center;
  text-transform: capitalize;
  height: 1000px;
}

.topic .content .main .main-lg .grid-main-lg .grid-item img {
  display: block;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}